<div class="container index">
  <div class="button-div">
    <%= link_to 'Criar novo artigo', new_backoffice_artigo_path, class: "button" %>
  </div>
  <div class="artigos">
    <% @artigos.each do |artigo| %>
      <%= link_to backoffice_artigo_path(artigo) do %>
        <div class="backoffice-artigo">
          <div class="artigo">
            <h3><%= artigo.title %> (<%= artigo.categoria %>)</h3>
            <p><%= "Criado a #{artigo.created_at.strftime('%d-%m-%Y')}" %></p>
          </div>
          <div class="backoffice-btns">
            <% if artigo.published? %>
              <div class="backoffice-btn unconfirm-btn">Publicado</div>
            <% else %>
              <div class="backoffice-btn confirm-btn">Não publicado</div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
