<div class="container index">
  <div class="artigos">
    <% @artigos.each do |artigo| %>
      <%= link_to artigo_path(artigo) do %>
      <div class="backoffice-artigo">
        <div class="artigo">
          <h3><%= artigo.title %></h3>
          <p><%= artigo.user.name %></p>
        </div>
        <div class="backoffice-btns">
          <% if artigo.published? %>
            <%= link_to 'Omitir Artigo', backoffice_artigo_publish_path(artigo.id), method: :patch, class: 'backoffice-btn unconfirm-btn' %>
          <% else %>
            <%= link_to 'Publicar Artigo', backoffice_artigo_publish_path(artigo.id), method: :patch, class: 'backoffice-btn confirm-btn' %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
