<div class="container index">
  <div class="top-row">
    <div class="user-btns">
      <%= link_to new_backoffice_artigo_path do %>
        <div class="button-div">
          <p>Criar novo artigo</p>
        </div>
      <% end %>
      <%= link_to edit_user_registration_path do %>
        <div class="button-div">
          <p>Editar Perfil</p>
        </div>
      <% end %>
    </div>
    <%= render 'shared/bo_stats' %>
  </div>
  <div style="margin: 2rem;">
    <%= render 'shared/search_form' %>
  </div>
  <div class="artigos" data-turbolinks="false">
    <%= react_component('shared/Pagination', page: @page, lastPage: @last_page , perPage: Artigo.per_page, total: @total) %>
    <% @artigos.each do |artigo| %>
      <%= link_to backoffice_artigo_path(artigo) do %>
      <div class="backoffice-artigo">
        <div class="user-card">
          <div class="user-image" style="<%= "background-image: url('#{artigo.colaborators&.first&.avatar_url}')" %>"></div>
          <div class="artigo">
            <h3><%= artigo.title %> (<%= artigo.categoria %>)</h3>
            <p><%= artigo.colaborators.map(&:name).to_sentence %> - <%= "criado a #{artigo.created_at.strftime('%d-%m-%Y')}" %></p>
            <p><%= artigo.comments.main_comments.count %> <%= 'comment'.pluralize(artigo.comments.main_comments) %> (<%= artigo.comments.count - artigo.comments.main_comments.count %> <%= 'reply'.pluralize(artigo.comments.count - artigo.comments.main_comments.count) %>)</p>
            <p><%= artigo.page_views %> <%= 'view'.pluralize(artigo.page_views) %></p>
          </div>
        </div>
        <div class="backoffice-btns">
          <% if artigo.published? %>
            <%= link_to 'Omitir Artigo', backoffice_artigo_publish_path(artigo.id), method: :patch, class: 'backoffice-btn unconfirm-btn' %>
          <% else %>
            <%= link_to 'Publicar Artigo', backoffice_artigo_publish_path(artigo.id), method: :patch, class: 'backoffice-btn confirm-btn' %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    <%= react_component('shared/Pagination', page: @page, lastPage: @last_page , perPage: Artigo.per_page, total: @total) %>
  </div>
</div>
