<div class="container">
  <div class="user-btns" style="margin: 0 auto 2rem;">
    <div class="button-div">
      <%= link_to 'Editar artigo', edit_backoffice_artigo_path(@artigo), class: "button" %>
    </div>
  </div>
  <h2>
    <%= @artigo.title %>
  </h2>
  <%= @artigo.contents %>
  <p>
  <% if @artigo.published %>
    <strong>
      <%= "Publicado a #{@artigo.published_at.strftime("%d-%m-%Y")} por #{@artigo.user.name}" %>
    </strong>
  <% else %>
    <strong>
      <%= "Criado a #{@artigo.created_at.strftime("%d-%m-%Y")} por #{@artigo.user.name}" %>
    </strong>
  <% end %>
  </p>
</div>
