<div class="container">
  <div class="user-btns" style="margin: 0 auto 2rem;">
    <%= link_to edit_backoffice_artigo_path(@artigo) do %>
      <div class="button-div">
        <p>Editar artigo</p>
      </div>
    <% end %>
  </div>
  <h2>
    <%= @artigo.title %>
  </h2>
  <% if @artigo.has_slider %>
    <div id="blobs" style="display: none"><%= @artigo1[:attributes][:blobs] %></div>
  <% end %>
  <%= @artigo.contents %>
  <p>
  <% if @artigo.published %>
    <strong>
      <%= "Publicado a #{@artigo.published_at.strftime("%d-%m-%Y")} por #{@artigo.colaborators.map(&:name).to_sentence}" %>
    </strong>
  <% else %>
    <strong>
      <%= "Criado a #{@artigo.created_at.strftime("%d-%m-%Y")} por #{@artigo.colaborators.map(&:name).to_sentence}" %>
    </strong>
  <% end %>
  </p>

  <h2 style="margin-top: 3rem">Comentários</h2>
  <% @comments.map do |comment| %>
    <div class="comment">
      <strong>
        <%= comment.name %>
      </strong>
      <%= comment.comment %>
    </div>
    <% comment.replies.map do |reply| %>
      <div class="comment reply">
        <strong>
          <%= reply.name %>
        </strong>
        <%= reply.comment %>
      </div>
    <% end %>
  <% end %>
</div>
