<div class="container index"> 
  <div class="search">
    <%= search_form_for @q do |f| %>

      <%= f.search_field :title_cont, placeholder: "Título" %>

      <%= f.select :categoria_eq, Artigo::CATEGORIAS, include_blank: "Categoria" %>

      <%= f.select :from_colaborador, Colaborator.with_artigos.order(:name).map(&:name), include_blank: "Colunista" %>

      <%= f.submit "Pesquisa" %>
    <% end %>
  </div>
  <%= react_component('artigos/Artigos', artigos: @artigos1, page: @page, pages: @pages, perPage: Artigo.per_page, total: @total) %>
</div>
