<%= form_with model: @artigo, class: "artigo-form" do |form| %>
  <div class="field">
    <%= form.label :categoria %>
    <%= form.select :categoria, Artigo::CATEGORIAS %>
  </div>
  <div class="field">
    <%= form.label :colaborator %>
    <%= form.select :colaborator, Colaborator.all.map{ |c| [c.name, c.id] } %>
  </div>
  <div class="field">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.rich_text_area :contents %>
  </div>
  <%= form.submit "Submeter para aprovação" %>
<% end %>
