<%= form_with model: @artigo, class: "artigo-form" do |form| %>
  <div class="field">
    <%= form.label :categoria %>
    <%= form.select :categoria, Artigo::CATEGORIAS %>
  </div>
  <div class="field">
    <%= form.label :colaborators %>
    <div>
      <% Colaborator.all.map do |c| %>
        <div>
          <%= form.check_box(:colaborators, {multiple: true, checked: @colaborator_ids.include?(c.id)}, c.id, nil) %>
          <%= form.label c.name %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :has_slider, 'Imagens em formato de slider?' %>
    <%= form.check_box :has_slider %>
  </div>
  <div class="field">
    <%= form.rich_text_area :contents %>
  </div>
  <%= form.submit "Submeter para aprovação" %>
<% end %>
