<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'shared/meta' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/f01d8e868a.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body>
    <%= react_component("shared/NavBar", signedIn: current_user&.confirmed) %>
    <% flash.each do |type, msg| %>
      <%= react_component('shared/Flashes', type: type, message: msg)  %>
    <% end %>
    <%= yield %>
    <%= react_component("shared/Footer") %>
  </body>
</html>
